.one  h1{
      color: #FF3D00;
     
}
.one h3{
    color: blueviolet;
}
.one p{
    font-style: normal;
    font-weight: bolder;
    font-family: sans-serif;

}
.main{
    width: 200px;
    border: 2px solid   #6200EA;
    margin: 0 auto;
    background-color: #EEEEEE;
}

.result{
    width: 95%;
    margin: 2px 0px 1px 1px;
    background-color: #9E9E9E;
}
.clearBtn{
    width: 98%;
    margin: 2px 0px 3px 3px;
    color: red;
    background-color: #F5F5F5;
}
.btn{
    width: 21.5%;
    margin: 2px 0px 1px 3px;
    color: red;
    background-color: #F5F5F5;
}